<!DOCTYPE html>
  {%  extends "text/base.html" %}
    {% block body_block %}

    <!-- {% load static %} -->
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'text/textlize_style.css' %}"> -->

    <style>
        #formid li{
        display:inline;
        margin-right: 3.0em;
        box-shadow: 0px 0px 0px .5px #888;
        border-radius: 0.6em;
        border: 4px double #cccccc;
       }
       #formid li:hover {
         color: #29f2e4;
       }
    </style>

    <div class="container">
      <!-- <h2>Paste language to be translated below (**include paste and delete button)</h2> -->
      <h2>Paste language to be translated below.</h2>

      <form class="" method="POST">
          {% csrf_token %}
          {{ form.text_in }}
          <input type="submit" class="btn btn-primary btn-lg" name="translatebutton" value="Translate Content">
            <!-- <h2>Translated output (**include copy and delete buttons)</h2> -->
            <h2>Translated output</h2>

              <div class="jumbotron">
                <p>{{ result }}</p>
              </div>
        <input type="submit" class="btn btn-primary btn-lg" name="summarizetbutton" value="Summarize Content">
        <p></p>
        <div class="" id="formid">
          {% csrf_token %}
          {{ form.slize_size }}
        </div>
      </form>

      <!-- <h2>Summarized output (** include delete button)</h2> -->
      <h2>Summarized output</h2>

      <div class="jumbotron">
        <p>{{ result }}</p>
      </div>

    </div>
    {% endblock %}
